.App {
  height: 100vh;
  
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #050729;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 52%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 7%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 56%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 3%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 0%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 20s;
}
.background li:nth-child(5) {
    left: 78%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 6s;
}
.background li:nth-child(6) {
    left: 48%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 18%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 16s;
}
.background li:nth-child(8) {
    left: 57%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 29s;
}
.background li:nth-child(9) {
    left: 6%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 2s;
}